In [2]:
import pandas as pd

In [3]:
data = {'x':[-0.3,0.2,-0.1,0.3,0.2],
'y':[0.7,0.6,0.6,0.2,0.0],
'z':[-0.8,-0.5,0.6,0.3,0.3]}
df = pd.DataFrame(data, columns=['x', 'y', 'z'])
df

     x    y    z
0 -0.3  0.7 -0.8
1  0.2  0.6 -0.5
2 -0.1  0.6  0.6
3  0.3  0.2  0.3
4  0.2  0.0  0.3

In [5]:
df.corr().round(2)# can round the values to two dp after decimal point

      x     y     z
x  1.00 -0.71  0.39
y -0.71  1.00 -0.55
z  0.39 -0.55  1.00